body {
  background-color: cadetblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.App {
  margin: auto;
  margin-top: 2%;
  background-color: azure;
  height: 40rem;
  width: 22rem;
  border-radius: 2rem;
}
.main-component {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.Search-parent {
  width: 100%;
  height: 4rem;
  display: flex;
}
.Search-parent input {
  border: 1px solid rgb(203, 203, 203);
  background-color: azure;
  outline: none;
  border-radius: 0.5rem;
  width: 20rem;
  height: 2rem;
  margin: 1rem;
}
.sendinvite-parent {
  height: 4rem;
  width: auto;
  display: flex;
}
.sendinvite-parent button {
  margin: 0.7rem;
  width: 20rem;
  margin-left: 3rem;
  margin-right: 3rem;
  background-color: orange;
  border-style: none;
  border-radius: 0.5rem;
}
.Users {
  width: auto;
  height: 32rem;
}
